.App {
  display:flex;
}

.Card {
  border: 1px solid rgba(160, 159, 159, 0.582);
  width: 15%; 
  margin: 20px;
  border-radius: 10px;
  height:55vh;
}

.Card img {
  width:100%;
  border-radius: 10px 10px 0 0 ;
}

@media (max-width: 1100px) {
 .CardContainer{
   flex-direction: column;
 }

 .Card {
  width: 80%;
  height:85vh;
  }


}

.CardContainer {
  display:flex;
  margin: 100px auto;
  justify-content: center;
}

.infoContainer {
  height:50%;
  padding:10px;
  color:rgba(75, 74, 74, 0.856)
}

.price {
  text-align: end;
  
}

.name {
  height: 25%;
}

.headline {
  height: 50%;
}